/* Config padrão */
* {
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#line {
    background-color: rgb(87, 28, 23);
    width: 100%;
    height: 15px;
}

header {
    display: flex;
    /*  */
    align-items: center;
    /*  */
    justify-content: space-evenly;
    /*  */
    padding: 15px;
    background-color: rgb(124, 45, 45);
    /*  */
    overflow: hidden;
    /*  */
    line-height: 200px;
    max-height: 200px;
}

header>#logo {
    width: 12rem;
    height: 11rem;
}

header h1 {
    margin-right: 17rem;
    color: white;
    font-size: 35px;
}

#menu-header {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

#list-menu {
    display: flex;
    margin-right: 1rem;
}

.item-header a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

.item-header a:hover {
    transition: 0.2s;
    font-size: 17px;
}

#botao-header {
    display: flex;
}

#botao-header>button {
    padding: 8px;
    background-color: transparent;
    border: none;
}

#img-destaque { /* Aqui chamamos a ID que chamamos no HTML*/
    padding: 260px;  /* Cuida do Preenchimento */
    background-image: url(imagens/padaria.webp); /* Usada para inserir imagens de fundo */
    background-position: center; /* Aqui posicionamos nossa imagem para o centro */
}

.img-div {  /* Aqui chamamos nossa Class para alteração*/ 
    padding: 25px; /* Cuida do Preenchimento */ 
    background-image: url(imagens/img-div.jpg); /* Usada para inserir imagens de fundo */
    background-position: center; /* Aqui posicionamos nossa imagem para o centro */ 
    background-size: auto; /* Background-Size: especifica o tamanho das imagens de fundo. Auto: Responsável por preencher totalmente a imagem. */
}

#clientes > h2{
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.line{
    margin: 0 auto;
    width: 40%;
}

#clientes{
    padding: 50px;
    margin-top: 0;
    background-color: white;
}

#clients-list{
    display: flex;
    align-items: center;
    margin-top: 35px;
    justify-content: space-evenly;
}

#clientes-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clientes-item > img{
    width: 84px;
    height: 84px;
}